body {
    background-color: #f5f6f7;
}
.message{
    background-color: #f35454;
}
.main{
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
}
.question-tag {
    margin-right: 5px;
}
.question-related {
    line-height: 25px;
    font-size: 17px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.xs-image{
    width: 36px;
    height: 36px;
}
.text-kind{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.update{
    color: #999;
    font-size: 18px;
}

.my-menu{
    margin-top: 80px;
}
.mfoot{
    float: right;
}
.msole{
    border-right: 1px #999;
}
.delete{
    margin-left: 50px;
}
.comment {
    margin: 10px 0;
}
.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.btn-comment {
    float: right;
    margin-bottom: 10px;
}
.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}
.comment-sp {
    margin-top: 0;
}
.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}
.footer {
    text-align: center;
    font-size: 15px;
    color: #666;;
    padding: 0 0 15px 0;
    margin-top: 50px;
}
.footertext{
    margin-top: 15px;
}
.side {
    margin: 5px 0;
}
.question-wechat {
    width: 95%;
}
.b_admin{
    margin-right: 15px;
}
