<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <title th:replace="${title}">408社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/me.css">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/comment.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="menu(n)">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">408社区</span>
            </button>
            <a class="navbar-brand" href="#">408社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left" action="/index">
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="搜索话题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav">
                    <li th:classappend="${n==1} ? 'active'"><a href="/index">首页<span class="sr-only">(current)</span></a></li>
                    <li th:classappend="${n==2} ? 'active'"><a href="/topublish">发布话题</a></li>
                    <li th:classappend="${n==3} ? 'active'"><a href="/findNotifys">通知<span class="badge message">42</span></a></li>
                </ul>
                <li th:if="${session.user == null}"><a href="/tologin">登录</a></li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${session.user.userName}">我</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">我的话题</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="/logintOut">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>